@charset "utf-8";
/* CSS Document */
a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

li {
	/* this just removes all decoration on the navbar list*/
	list-style-type: none;
	text-decoration-style: none
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 80px;
	background-color: black;
	padding: .4rem .8rem;
	transition: all 0.5s ease;
}


.sidebar.active ~ .maincontent {
	left: 250px;
	width: calc(100% - 250px);
}

.sidebar.active {
	width: 250px;
}

.sidebar #sidebarButton {
	position: absolute;
	color: white;
	top: 1.1rem;
	left: 50%;
	font-size: 1.5rem;
	transform: translateX(-50%);	
	cursor: pointer;	
	
}
/* this changes the location of the sidebar button when active */
.sidebar.active #sidebarButton{
	left: 90%;
}

.sidebar .top .logo {
	color: white;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	pointer-events: none;
	opacity: 0;
 
}

.sidebar.active .top .logo {
	opacity: 1;
}

.top .logo i {
	font-size: 2rem;
	margin-right: 5px;
	
}

.sidebar ul li{
	position: inherit;
	list-style-type: none;
	height: 3rem;
	width: 90%;
	margin: 0.8rem auto;
	line-height: 50px;
	
}

.sidebar ul li a {
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 0.8rem;
}

.sidebar.active ul li a:hover {
	background-color: white;
	color: black;
	
}

.sidebar .nav-item {
	opacity: 0;
	
}

.sidebar.active .nav-item {
	opacity: 1;
}
















